{% extends 'layout/auth_base.html' %} {% block title %} Masuk {% endblock %}
<!-- Content Block -->
{% block content %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-12 col-lg-6 p-3 p-lg-4 d-flex flex-column">
            <div class="d-flex justify-content-between">
                <a href="{{ url_for('public.index' ) }}" class="link-color-primary fw-bold nav-link"><i class="bi bi-arrow-left"></i> Kembali</a>
            </div>
            <div class="flex-fill d-flex flex-column pt-5">
                <!-- <img class="mb-4" src="{{ url_for('static', filename='img/rindang-logo-green.svg' ) }}" alt="Logo Rindang" width="156px" /> -->
                <h2 class="fw-bold mb-3 text-green-accent">Login</h2>
                <form action="{{ url_for('auth.login' ) }}" method="post" class="w-100">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        <label for="email" class="form-label">Alamat Email</label>
                        <!-- <input type="email" class="form-control" id="emailAddress" name="emailAddress" placeholder="user@email.com" /> -->
                        {{ form.email(class="form-control", placeholder="user@email.com", id="email") }} {% if form.email.errors %} {% for error in form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                        {% endfor %} {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Kata Sandi</label>
                        <div class="input-group">
                            <!-- <input type="password" class="form-control" id="userPass" name="userPass" placeholder="••••••••" /> -->
                            {{ form.password(class="form-control", placeholder="••••••••", id="password") }} {% if form.password.errors %} {% for error in form.password.errors %}
                            <span class="text-danger">{{ error }}</span>
                            {% endfor %} {% endif %}
                            <button type="button" class="btn btn-green" id="togglePassword" onclick="togglePasswordVisibility('userPass')"><i id="passwordIcon" class="bi bi-eye-slash text-light"></i></button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div class="form-check">
                            <!-- <input class="form-check-input" type="checkbox" value="remember" id="rememberMe" name="remember" /> -->
                            {{ form.remember(class="form-check-input", id="remember", value="remember") }}
                            <label class="form-check-label" for="remember"> Ingat saya </label>
                        </div>
                        <a href="{{ url_for('auth.forgot_password' ) }}" class="nav-link">Lupa Kata Sandi</a>
                    </div>
                    {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                    <div class="alert d-flex justify-content-between alert-dismissable fade show mb-4 small alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %} {% endif %} {% endwith %}
                    <button type="submit" class="btn btn-green text-center fw-bold text-light w-100 mb-3">Masuk</button>
                </form>
                <div class="d-flex gap-1">
                    <p class="mb-0">Belum punya akun?</p>
                    <a href="{{ url_for('auth.register' ) }}" class="link-color-primary fw-bold nav-link">Daftar disini</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 d-none d-lg-block bg-secondary-subtle"></div>
    </div>
</div>
{% endblock %}
<!-- Scripts block -->
{% block scripts %}
<script>
    function togglePasswordVisibility(inputId) {
        const passwordInput = document.getElementById(inputId);
        const passwordIcon = document.getElementById('passwordIcon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            passwordIcon.classList.remove('bi-eye-slash');
            passwordIcon.classList.add('bi-eye');
        } else {
            passwordInput.type = 'password';
            passwordIcon.classList.remove('bi-eye');
            passwordIcon.classList.add('bi-eye-slash');
        }
    }
</script>
{% endblock %}
