{% extends 'layout/admin_base.html' %}
<!-- Page Title block -->
{% block title %}Dashboard Admin - Role Manager{% endblock %}
<!-- Title block -->
{% block page_title %}Role Manager{% endblock %}
<!-- Content block -->
{% block content %}
<a href="{{ url_for('admin.create_role') }}" class="btn btn-green text-white btn-sm rounded-pill mb-3"><i
        class="bi bi-plus-lg"></i> Tambah Role Baru</a>

<div class="card">
    <div class="card-header justify-content-between align-items-center d-flex">
        <h6 class="card-title mb-0">Daftar Role</h6>
    </div>
    <div class="card-body">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nama</th>
                    <th>Deskripsi</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for role in roles %}
                <tr>
                    <td>{{ role.id }}</td>
                    <td><span class="badge rounded-pill bg-outline-green">{{ role.name }}</span></td>
                    <td style="max-width: 24rem" class="small">{{ role.description }}</td>
                    <td>
                        <a href="{{ url_for('admin.edit_role', role_id=role.id) }}"
                            class="btn btn-yellow btn-sm mb-lg-0 mb-1">Edit</a>
                        <form action="{{ url_for('admin.delete_role', role_id=role.id) }}" method="post"
                            style="display: inline">
                            <button type="submit" class="btn btn-red text-white btn-sm"
                                onclick="return confirm('Apakah Anda yakin ingin menghapus role ini?');">Hapus</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}