{% extends 'layout/public_base.html' %}
<!-- BLOCK -->
{% block title %} Rindang Pedia {% endblock %}
<!-- BLOCK -->
{% block content %}
<main class="container py-4">
    <div class="row">
        <div class="col-12 mb-5">
            <div class="d-flex flex-column align-items-center">
                <img src="{{ url_for('static', filename='logo/RindangPedia.svg' ) }}" alt="RindangPedia" width="320px"
                    id="rpediaLogo" class="mb-3" />
                <p class="mb-5 h5 text-center fw-normal">Kolaborasi, diskusi, dan update berita seputar pertanian</p>
            </div>
            <div class="d-flex gap-3">
                <div class="vr rounded-pill bg-green opacity-100" style="width: 6px"></div>
                <div class="d-flex flex-column">
                    <h1>Artikel Rindang</h1>
                    <p class="mb-1 text-muted">Baca berbagai informasi terbaru seputar agrikultur untuk meningkatkan
                        pemahamanmu!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 mb-3 mb-lg-0">
            {% for item in articles %}
            <!-- if statement -->
            {% if not item.is_drafted and item.is_approved %}
            <a target="_parent" class="link-dark link-underline-opacity-0 link-opacity-75-hover"
                href="{{ url_for('public.read_article', id=item.id ) }}">
                <div class="ratio ratio-21x9 mb-3">
                    <img src="{{ url_for('static', filename='uploads/'+item.thumbnail ) }}"
                        class="img-fluid w-100 rounded-4 object-fit-cover" alt="" />
                </div>
                <h3 class="text-light">{{ item.judul }}</h3>
            </a>
            <p>{{ shorten(item.content, width=120) | safe }}</p>
            <hr>
            {% else %}
            <div class="d-flex justify-content-center">
                <em class="text-muted h5 text-center">-- Belum ada artikel --</em>
            </div>
            {% endif %}
            <!--  -->
            {% endfor %}
        </div>
        <div class="col-lg-4 col-sm-12">
            {% for item in articles %}
            <div class="d-flex align-items-center gap-3">
                {% if not item.is_drafted and item.is_approved %}
                <div class="ratio ratio-1x1 mb-3">
                    <img src="{{ url_for('static', filename='uploads/'+item.thumbnail ) }}"
                        class="img-fluid w-100 rounded-4 object-fit-cover" alt="" />
                </div>
                <div>
                    <p class="fw-bold">{{ item.judul }}</p>
                    <p>{{ shorten(item.content, width=56) | safe }}</p>
                </div>
                {% else %}
                <div class="d-flex justify-content-center">
                    <em class="text-muted h5 text-center">-- Belum ada artikel --</em>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
<!-- Script block -->
{% block scripts %}
<script>
    const myHtml = document.documentElement; // Get the <html> element
    const pageLogo = document.getElementById('rpediaLogo');
    const theme = myHtml.dataset.bsTheme;
    console.log(theme);

    if (theme == 'dark') {
        pageLogo.src = '/static/logo/RindangPediaLogoDark.svg';
    } else {
        pageLogo.src = '/static/logo/RindangPedia.svg';
    }
</script>
{% endblock %}